body {
	padding-top: 70px;
	background-color: #f0f0f0;
}

.navbar-blue{
	/*background-color: #375A7F;*/
background-image: linear-gradient(90deg, rgb(44, 62, 80) 25%, rgb(95, 124, 138) 100%);
background-image: -moz-linear-gradient(left, rgb(44, 62, 80) 25%, rgb(95, 124, 138) 100%);
background-image: -webkit-linear-gradient(left, rgb(44, 62, 80) 25%, rgb(95, 124, 138) 100%);
background-image: -o-linear-gradient(left, rgb(44, 62, 80) 25%, rgb(95, 124, 138) 100%);
background-image: -ms-linear-gradient(left, rgb(44, 62, 80) 25%, rgb(95, 124, 138) 100%);
}
.navbar-brand{
	color: white !important;
    max-width: 50%;
}

.navbar-default .navbar-nav>li>a{
	color: white !important;
	border-bottom: solid transparent;
}
.navbar-default .navbar-nav>li>a:hover{
	border-bottom: solid;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	background-color: #2D4967;
	border-bottom: solid;
}
.navbar-default .navbar-nav>li> .active{
	background-color: #2D4967;
}
.navbar-default .navbar-nav>li> .active:hover{
	background-color: #2D4967;
}

.panel-perfil {
    border-color: #375A7F;
}
